body{
    background-image: url("../img/background.png");
    background-color: rgba(240, 240, 240, 0.486);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}